div {
    width: 50%;
    margin-left: 25%;
}

img{
    width: 20%;
}

h4{
    font-style: italic;
}

h3{
    color: rgb(219, 143, 2);
}

hr{
    border-color: rgb(219, 143, 2);
    border-top-width: 2px;
}

.testa{
    text-align: center;
    height: auto;
    background-color: rgba(223, 223, 223, 0.623);
}



.coda{
    border-top-style: solid;
    border-top-color: rgb(219, 143, 2);
    border-top-width: 1px;
    text-align: center;
    font-size: small;
}